:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --link-shadow: #ff0070;
  --rec-display: flex;
}
